body{
    display: flex;
    flex-direction: column;
    gap:48px;
    margin: 0px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: center;
    padding: 20px;
}

.pt1{
    display: flex;   
    gap: 8px; 
    padding: 40px;
}

.pt1 .link1{
    margin-left: auto;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

#pt2-2{
    width: 200px;
}

#headerlogo{
    font-size: 24px;
}
#pt2-1-1{
    font-size: 48px;
}
#headerlogo , #pt2-1-1{
    color: #f9faf8;
}
#button{
    display: flex;
    width:fit-content;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 25px;
    padding: 15px;
}

.pt2{
    display: flex;
    gap: 12px;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}

.pt2-1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pt2-1-2{
    width: 400px;
}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1-head{
    font-size: 36px;
    color: #1f2937;
}

/*.sec1-boxes{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 8px;
    
    border-radius: 25px;
    border-color: #3882f6;
    border-style: solid;
}

#b1{
    width: 250px;
}*/

.images-sec1{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
 
#i1 , #i2, #i3, #i4{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.img-subtitle{
    display: flex;
    justify-content: space-around;
    gap: 200px;
}

.sec2{
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    /*flex-wrap:wrap;*/

    background-color: #e5e7eb;
    font-size: 36px;
    /*justify-content: center;
    align-items: center;*/
    font-style: italic;

    margin: 0px;
    padding: 100px;
}
.credit{
    display: flex;
    justify-content: flex-end;
}

.sec3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    background-color: #3882f6;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 20px;
}
.sec3 div{
    color: #f9faf8;
}
.sec3 .head{
    font-size: x-large;
    font-weight: 700;
}
.sign-button{
    display: flex;
    justify-content: center;
    color: #f9faf8;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #f9faf8;
    width: 100px;
}

.sec3 .left{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    color: #f9faf8;
    font-size: large;
    padding: 20px;
    margin: stretch;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

