body{
    display: flex;
    flex-direction: column;
    gap:48px;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}

.pt1{
    display: flex;   
    gap: 8px; 
    padding: 40px;
}

.pt1 .link1{
    margin-left: auto;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

#pt2-2{
    width: 200px;
}

#headerlogo{
    font-size: 24px;
}
#pt2-1-1{
    font-size: 48px;
}
#headerlogo , #pt2-1-1{
    color: #f9faf8;
}
#button{
    display: flex;
    width:fit-content;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 25px;
    padding: 15px;
}

.pt2{
    display: flex;
    gap: 12px;
    justify-content: space-around;
    padding: 40px;
    align-items: center;
}

.pt2-1{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.pt2-1-2{
    width: 400px;
}

.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec1-head{
    font-size: 36px;
    color: #1f2937;
}

/*.sec1-boxes{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 8px;
    
    border-radius: 25px;
    border-color: #3882f6;
    border-style: solid;
}

#b1{
    width: 250px;
}*/

.images-sec1{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
 
#i1 , #i2, #i3, #i4{
    width: 200px;
}

.img-subtitle{
    display: flex;
    justify-content: space-around;
    gap: 42px;
}

.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 600px;*/
    justify-content: center;
    flex-wrap:wrap;
}

.sec3{
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.sec3 .left{
    display: flex;
    flex-direction: column;
}

.footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

